# Virtual Environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyc

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Log files
*.log

# Credentials or sensitive information
credentials.json
config/config.ini
config/urls.py

#Screenshots Directory
error_screenshots/
exports/
*.xlsx